img{
  width: 100%;
}

p{
  text-indent: 10%;
  padding: 0px 20px;
}
h1{
  text-align: center;
  text-decoration: underline;
}

body{
  background-color: rgba(225, 0, 0, 0.5);;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: stretch;
}

.large{
  margin: auto;
  width: 960px;
}
.large:before,
.large:after{
  display: table;
  content: " ";
}

.small{
  position: relative;
  min-height: 1px;
  width: 33.29%;
  float: left;
}
